/* IMPORT FONTS */
@font-face {
    font-family: 'Epi-eb';
    src: url('../fonts/Epilogue-ExtraBold.eot');
    src: url('../fonts/Epilogue-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Epilogue-ExtraBold.woff2') format('woff2'),
        url('../fonts/Epilogue-ExtraBold.woff') format('woff'),
        url('../fonts/Epilogue-ExtraBold.svg#Epilogue-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Epi-b';
    src: url('../fonts/Epilogue-Bold.eot');
    src: url('../fonts/Epilogue-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Epilogue-Bold.woff2') format('woff2'),
        url('../fonts/Epilogue-Bold.woff') format('woff'),
        url('../fonts/Epilogue-Bold.svg#Epilogue-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Epi-sb';
    src: url('../fonts/epilogue-semibold.eot');
    src: url('../fonts/epilogue-semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/epilogue-semibold.woff2') format('woff2'),
        url('../fonts/epilogue-semibold.woff') format('woff'),
        url('../fonts/epilogue-semibold.ttf') format('truetype'),
        url('../fonts/epilogue-semibold.svg#epilogue-semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Epi-r';
    src: url('../fonts/Epilogue-Regular.eot');
    src: url('../fonts/Epilogue-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Epilogue-Regular.woff2') format('woff2'),
        url('../fonts/Epilogue-Regular.woff') format('woff'),
        url('../fonts/Epilogue-Regular.svg#Epilogue-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* RESET */
body, ul, li, ol, form, h1, h2, h3, h4, h5, h6, div, span, p { padding:0; margin:0; border:0; -webkit-text-size-adjust:none; -moz-text-size-adjust:none; text-size-adjust:none;}
article, aside, dialog ,figcaption, figure, footer, header, hgroup, main, nav, section { display:block;}  
input, textarea											{ -webkit-appearance:none; -ms-appearance:none; appearance:none; -moz-appearance:none; -o-appearance:none; border-radius:0;}
*														{ outline:none !important;}
strong, b												{ font-weight:normal; font-family:Epi-eb;}
ul														{ list-style-type:none;}
body													{ font:normal 18px/28px Epi-r; color:#151515;}
a														{ text-decoration:none; color:#151515; outline:none;}
img														{ border:none;}
#wrapper												{ min-width:320px; overflow:hidden; position: relative;}
#wrapper *												{ box-sizing:border-box; outline:0}
#wrapper:before											{ content:''; display:block; z-index:99; position:absolute; top:0; right:0; bottom:0; left:0; background:rgba(0,0,0,0.80); opacity:0; visibility:hidden; transition:0.4s all ease-in-out !important; -webkit-transition:0.4s all ease-in-out !important}
.wrapper                                                { max-width: 1390px ; margin: 0 auto;}
.slick-dots												{ width:100%; height:14px; position:relative; text-align:center; padding:0; line-height:0; z-index:50;margin-top:47px;}
.slick-dots	li											{ display:inline-block; height:14px; margin:0 7.5px;text-indent:-9999px}
.slick-dots button										{ display:block; width:14px; height:14px; text-indent:-9999px; background:none; outline:none; padding:0; border:1px solid #ffffff;}
.slick-active button									{ background:#ffffff;}
/* CLASS */
.clear							          				{ clear:both; float:none !important; width:100% !important; padding:0 !important; margin:0 !important; display:block;}
.left								          			{ float:left;}
.right 							          				{ float:right;}
.link 								        			{ width:auto; height:72px; display:inline-block; position:relative;}
.link span								        		{ width:auto; height:72px; display:inline-block; position:relative; z-index: 1; font:normal 20px Epi-eb; text-decoration:none !important; padding:26px 91px; text-transform:none; color: #fff; transition: all 200ms ease-in-out !important;}
.link:before                                            { content: ''; position: absolute; background: #000; border-radius: 36px; left: 0; right: 0; top: 0; bottom: 0;}
.clr:after 						        				{ content:''; display:table; width:100%; clear:both}

/* Preloder */
#preloder { position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: 999999; background: rgba(0,0,0,.7);}
.loader { border: 5px solid #fff; border-radius: 50%; border-top: 5px solid #1c1c1c; width: 250px; height: 250px;position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; -webkit-animation: spin 2s linear infinite; animation: spin 2s linear infinite; z-index: 2;}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
 @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.loaderLogo { width: 250px; height: 250px; background: rgba(255,255,255,.7); border-radius: 50%; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; z-index: 1;}
.loaderLogo img { display: block; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto;}



/* HEADER */
.headerTop                                              { padding:92px 60px 10px 140px; position: absolute; top: 0; left: 0; width: 100%;z-index: 9999999}
.headerTop .social                                      { float: left; }
.headerTop .social li                                   { float: left; padding-left: 54px;position: relative; }
.headerTop .social li a                                 { position: relative;font-size: 0;display: inline-block;line-height: 0 }
.headerTop .social li a:before                          { content:'';position: absolute;width: 100%;height: 100%;top: 0;left: 0;opacity: 0;transition: 1s ease;transition-delay: .5s; }
.headerTop.active .social li a:before                   {opacity: 1; transition: 1s ease; }
.headerTop .social .fb a:before                         { background: url(../images/facebook-on.svg)center no-repeat }
.headerTop .social .linkedin a:before                   { background: url(../images/linkden2.svg)center no-repeat }
.headerTop .right                                       { padding-top: 26px;}
 p                                                      { margin-bottom: 25px }

.fp-viewing-section4 #fullpage                                             { transition: top 1000ms}

/* MENU */
.menu									     			{ height:auto; display:block;float:left; padding-right: 42px}
.menu>ul								     			{ width:100%; display:block; position:relative; text-align:center;  font-size:0; line-height:0; }
.menu li								     			{ display:inline-block; position:relative; padding: 0 37px}
.menu li:last-child					 					{ margin-right:0;}
.menu a								    				{ width:auto; font:normal 20px/25px Epi-eb;display:block; padding:0; position:relative;color: #151515}
.menu>ul>li.active>a			     					{ color:#737573;}
.menu>ul>li.active>a:before    							{ width:100%;}

/* SUB */
.sub													{ width:265px; position:absolute; top:88px; left:50%; z-index:995; margin-left:-135px; display:block; background:#ffffff; visibility:hidden; opacity:0;}
.sub li													{ width:100%; margin:0; border:none; padding:0; text-align:center;}
.sub li a									 			{ width:100%; height:52px; line-height:49px; position:relative; margin:0;color:#3f3d3e;text-transform:inherit;font-size:15px;padding: 0;border-bottom:1px solid #cdcdcd}
.sub li a:before						 				{ display:none;}
.sub li:last-child a				 					{ border:0;}
.menu li:hover .sub 									{ opacity:1; visibility:visible; z-index:999;}
.menu .sub li.active a			 						{ background:#529f44;color: #ffffff}
.blocSlider .scrollTop 									{ display: block;width: 24px;height: 20px;position: absolute;bottom: 70px;left:0; right:0; margin: auto; background: url(../images/scroll.png)center no-repeat;z-index: 999;animation: MoveUpDown 1s infinite ease-in-out; cursor: pointer;}

@keyframes MoveUpDown {
  0% {
    bottom: 75px;
  }
  50% {
   bottom: 70px;
  }
  100% {
    bottom: 75px;
  }
}


.h1                                                     { font-size: 90px; font-family:Epi-eb; line-height: 100px; position: relative; display:block; margin: 0;  padding: 0 140px 0 0; /* background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; color: rgba(0,0,0,0.0); */ background-size: cover;}
h2                                                      { font-size: 90px;font-family: Epi-eb;line-height: 100px;margin-bottom: 52px;}


/*.fp-section.active h1{background-position-y:5px;transition: all 2.5ms ease;}*/
/*.section                                                { padding: 0;}*/
.section0                                               { height: 100vh;margin-bottom: 70px;position: relative; }
.page-template-about .section0                          { margin-bottom: 0 }
.section0:not(.section-work):after                                         { content: '';width: 100%;height: 100%;position: absolute;top: 0;left: 0;background: #000;opacity: 0.2}
.Detail .section0                                       { margin-bottom: 0 }
.section0 .content-top                                            { padding-top: 124px;height: 100%;display: flex;align-items: center; }
.sec1-home.section                                      { padding-bottom: 132px }
.sec-produit-home.section                               { padding: 0}
.slider                                                 { width: 100%; height: 100%;padding:0 0 0 140px; }
.blocSlider                                             { width: 100%;height: calc(100vh - 156px);position: relative;z-index: 9999 }
.slider .content                                        { height: 100%; width: 100%;display: flex;align-items: center; }
.blocSlider .scroll:before 								{ content: '';position: absolute;top: 0;right: 0;left: 0;bottom: 0;width: 100%;width: 100%;background: url(../images/scroll-bottom-on.png)center no-repeat #529f44;opacity: 0 }
.blc-about h2                                           { font-size: 70px; font-family:Epi-eb ; line-height: 100px; max-width: 865px; margin-bottom: 52px }
.blc-img                                                { position: relative; padding: 0}
.txt-hover                                              { position: absolute; top: 73px; left: 75px; opacity: 0; z-index: 999; text-align: left;}
.txt-hover h2                                           { font-size: 42px !important; font-family: Epi-eb !important; line-height: normal !important; margin-bottom: 8px }
.txt-hover span                                         { text-transform: uppercase; font-size: 16px; display: block;}
.blc-img .img                                           { position: relative;}
.blc-img .img img                                       { display: block; width: 100% ;object-fit: cover;min-height: auto;height: 100vh;}

.blc-img.rouge:hover .img:after                        { opacity: 1 }
.blc-img.rouge:hover .txt-hover                        { opacity: 1 }
.blc-img.vert:hover .img:after                         { opacity: 1 }
.blc-img.vert:hover .txt-hover                         { opacity: 1 }
.blc-img.violet:hover .img:after                       { opacity: 1 }
.blc-img.violet:hover .txt-hover                       { opacity: 1 }
.qui-sommes-nous h2                                    { font-size: 90px; font-family:Epi-eb; line-height: 100px; margin-bottom: 100px  }
.qui-sommes-nous .col                                  { width: 50%; float: left; padding: 0 10px }
.qui-sommes-nous .col  .txt                            {  max-width: 404px; margin: 0 auto }
.qui-sommes-nous .col  .txt p span                     { font-family:Epi-b  }
 p                                                     { margin-bottom: 25px }
.qui-sommes-nous .img img                              {  display: block; width: 100%;object-fit: cover;}
.before-foot-home.section                               { padding-top: 80px }

/*PAGE ABOUT*/
.template-page-about .slider .content                   { text-align: left; }  
.blcVideo                                               { position: relative; } 
.blcVideo video                                         { background-size: cover;width: 100%;object-fit: cover }
.button-video                                           { position: absolute;top: 0;left: 0;right: 0;width: 100%;height: 100%;display: flex;justify-content: center;align-items: center; } 
.button-video span                                      { display: flex;width: 176px;height: 176px;border:6px solid #ffffff;border-radius: 50%;justify-content: center;align-items: center;cursor: pointer;position: relative; }
.button-video .play:before                              { content: '';width: 100%;height: 100%;border-radius: 50%;background: url(../images/icon-play-hover.png)center no-repeat #ffffff;opacity: 0;position: absolute;top: -6px;left: -6px;border:6px solid #ffffff; }
.button-video span.pause                                { display: none }
.button-video.hide                                      { opacity: 0 }
.button-video.pause span.pause                          { display: flex; }
.button-video.pause span.play                           { display: none }                      
.sec-ctc-about .wrapper                                 { max-width: 1034px }
.sec-ctc-about .row                                     { display: flex; flex-wrap: wrap; }
.sec-ctc-about .left                                    { width: 53% }
.sec-ctc-about .left .text                              { max-width: 343px; }
.sec-ctc-about .right                                   { width: 47% }
.sec-ctc-about .right .img img                          { width: 100% ;object-fit: cover;} 
.sec-ctc-about .left .link                             { margin-top: 25px } 
.sec-filter .list-filter                                { display: flex;flex-wrap: wrap; padding-left: 130px}
.sec-filter .list-filter li                             { width: 25%;margin-bottom: 50px ;font-family:Epi-eb;font-size: 20px; line-height: 21px;color: #000;opacity: 0.2;cursor: pointer;}
.sec-filter .list-filter li.is-checked                  { opacity: 1 }
.sec-filter .listItem                                   { display: flex;flex-wrap: wrap; margin: 0 -8px}
.sec-filter .listItem a                                { width: 25%;padding:8px;display: block; }
.sec-filter .listItem a img                            { width: 100%;display: block;height: 336px;object-fit: cover; }
.sec-filter .blcLink                                    { text-align: center;margin-top:66px;}

.sec-ref .list-ref                                      { column-count: 5; padding-left: 131px}
.sec-ref .content                                       { background: #000000;padding: 169px 0px 169px 135px }
.sec-ref h2                                             { color: #ffffff;}
.sec-ref .list-ref a                                    { color: #ffffff;opacity: 0.75;font: normal 20px/24px Epi-sb;}
.sec-ref .list-ref li                                   { margin-bottom: 22px;}
.iScrollVerticalScrollbar                               { opacity: 0!important;}
.sec-filter .listItem .color                            { top: 8px; right: 8px; bottom: 8px; left: 8px;}
.sec-filter .list-filter .is-checked a                  { color: #000 !important;} 
.sec-ctc-about                                          { padding-top: 152px;margin-bottom: 60px}
.last-about.section                                     { margin-top: 189px;margin-bottom: 140px }

/* WORK */
.section.filter-work                                    { padding: 0!important }
.filter-work>div                                            { position: relative; }
.filter-work>div:after                                       { content: '';width: 100%;bottom: -190px;left: 0;right:0;height: 240px;background: #000;position: absolute;max-width: 1640px;margin: auto; }
.workLeft h1                                            { font-size: 130px; line-height: 135px; text-align: left; padding: 0; margin: 0;}
.workFilter                                             { background: #000; max-width: 1640px; padding: 160px 135px 0;position: relative;}
.workFilter .list-filter                                { padding-left: 130px; display: flex; justify-content: start; align-items: flex-start; flex-wrap: wrap;}
.workFilter .list-filter li                             { width: 20%; margin-bottom: 50px; font-family: Epi-eb;font-size: 20px; line-height: 25px; cursor: pointer;padding-right: 25px}
.workFilter li                                          { color:#707070;}
.workFilter .list-filter li.is-checked,
.list-filter .is-checked                                { color: #fff;}
.workFilter h2, .workFilter .sec-filter .list-filter li { color: #fff;}
.workFilter .sec-filter .list-filter li                 { width: 25%; margin-bottom: 50px ; font-family:Epi-eb; font-size: 20px; line-height: 21px; color: #fff;opacity: 0.2; cursor: pointer;}
.filterValue                                            { max-width: 1366px; padding: 0; margin-top:0;}
.filterValue .listItem                                  { display: flex; flex-wrap: wrap;}
.filterValue .listItem a                                { width: 50%;padding:8px;display: block;}
.filterValue .listItem img                              { display: block; width: 100%; height: auto;}
.crypt                                                  { text-align: center;margin-top: 240px}
.crypt h2                                               { font: 60px/100px 'Epi-eb';}
.crypt p                                                { max-width: 550px; width: 100%; margin: 0 auto; font: 18px/28px 'Epi-r';}
.imgCrypt                                               { margin-top: 50px; margin-bottom: 115px; padding: 0 40px; display: flex; flex-wrap: wrap;}
.imgCrypt a                                             { width: 50%; padding: 4px; margin: 0; position: relative;}
.element-item figure                                    { margin: 0; overflow: hidden; position: relative;}
.element-item .txt-hover                                { top: 40px; left: 40px; padding-right: 40px;color: #ffffff}
.listItem img                                           { transition: all 400ms ease-in-out;}
.imgCrypt a figure, .imgClaiming figure a               { display: block; overflow: hidden; margin: 0;}
.imgCrypt figure img, .imgClaiming figure img           { display: block; width: 100%; height: 100%; object-fit: cover; object-position: center;}
.imgCrypt figure img{ height: 476px }
.color                                                  { background: #eeea13; display: block; position: absolute; top: 0; bottom: 0; left: 0; right: 0; transform: scaleX(0); -webkit-transform-origin: 0 50%; transform-origin: 0 50%; opacity: 0.8; z-index: 5; transition: all 800ms ease-in-out;}
.sec-item-work.section                                  { padding-top: 0!important }

.claiming2                                              { max-width: 50% }
.section3.crypt .wrapper                                { max-width: 1436px }
.page-template-work-page .section0                      { margin-bottom: 100px }
.page-template-work-page .section0.section-work         { margin-bottom: 20px }


/* WORK TYPE */
.Detail .section0, .Detail .section0 .content-top       { padding: 0 !important;}
.Detail .slider                                         { padding: 0; position: absolute !important; top: 0;}
.Detail .slider img                                     { height: 100%;}
.Detail .menu a                                         { color: #fff;}
.Detail .menu>ul>li.active>a                            { color: #000;}
.closeDetail                                            { width: 42px; height: 42px; position: absolute; top: 20px; right: 40px; z-index: 999999;}
.closeDetail img                                        { display: block; width: 100%; height: auto;}
.claiming                                               { padding-top: 105px; padding-bottom: 0;}
.workType                                               { position: relative;}
.workType img                                           { display: block; width: 100%; height: auto; object-fit: cover;}
.claimingText                                           { padding-left: 138px; display: flex; justify-content: flex-start; align-items: flex-start;}
.claimingText.tokony-tsis-padding                       { padding-left:  0}
.claiming1                                              { max-width: 495px; width: 50%; padding-right: 125px;}
.listeClaiming                                          { padding-top: 50px; display: flex; align-items: center;flex-wrap: wrap;}
.listeClaiming li                                       { transition: all 400ms ease-in-out; font-family: "Epi-eb"; cursor: pointer;padding-right: 25px}
.listeClaiming .is-checked                              { opacity: .5; color: #000 !important;}
.imgClaiming                                            { margin-top: 90px;}
.imgClaiming .element-item                              { margin-bottom: 75px;width: 100%;display: block;cursor: default}
.imgClaiming .element-item:last-of-type                 { margin: 0;}
.imgClaiming .list-filter                               { display: flex; flex-direction: column; flex-wrap: wrap;}
.rsBtn, .rs                                             { margin-top: 125px; display: flex; justify-content: space-between; align-items: center;}
.rs                                                     { margin: 0 !important;}
.rs li                                                  { margin-right: 35px;}
.rs li:first-child                                      { margin-right: 60px;}
.rs li:last-child                                       { margin: 0;}

.single-work .blocSlider,
.single-crypt .blocSlider                               { height: 100vh }

/* CONTACT */
.blocProfil                                             { display: flex; justify-content: space-between; align-items: flex-start; padding-top: 50px; padding-bottom: 0;}
.profil                                                 { width: 50%;}
.sousProfil                                             { margin-bottom: 50px;}
.blocProfil h2                                          { font: 60px/70px 'Epi-eb'; margin-bottom: 25px;}
.sousProfil,.postSocial                                 { display: flex; justify-content: flex-start; align-items: center; font: 20px/30px 'Epi-eb';}
.sousProfil .post                                       { padding-right: 125px;}
.sousProfil .post p                                     { margin-bottom: 0;}
.sousProfil .post a                                     { position: relative; }
.sousProfil .post a:after                               { content: '';position: absolute;width: 100%;bottom: 2px;height: 2px; background:#151515;left: 0 }
.postSocial img                                         { opacity: .21;}
.postSocial p                                           { display: block; margin-left: 25px; padding-left: 15px; border-left: 1px #000 solid; opacity: .21; margin-bottom: 0;}
.blocFind                                               { padding-bottom: 390px;margin-top: 246px}
.adr                                                    { padding-left: 138px;}
.adr p, .adr a                                          { color: #fff; position: relative;}
.adr a:after                                            { content: ''; background: #fff; width: 100%; height: 1px; position: absolute; left: 0; bottom: 0;}
.blocMap                                                { margin-top: -265px;}
.map iframe                                             { display: block; width: 100%; height: 795px; filter: grayscale(100%);}

/* POPUP*/
.wpcf7-form .chp input, .wpcf7-form .chp textarea       { height: 60px !important; font: normal 18px/28px Epi-r; border:1px solid #151515; -webkit-appearance: none;-moz-appearance: none; -ms-appearance: none; color: #9B9B9B; border: 0; -webkit-box-shadow: 0px 5px 15px -1px rgba(0,0,0,0.16); box-shadow: 0px 5px 15px -1px rgba(0,0,0,0.16); margin-bottom: 25px; padding: 15px 25px; width: 100%; display: block; box-sizing: border-box;}
.wpcf7-form .chp textarea                               { height: 250px!important;display: block; }
.fancybox-inner                                         { height: auto!important; }
.popup-contact                                          { padding: 65px 40px 40px }
.fancybox-button svg                                    { color: #ffffff!important }
.fancybox-close-small                                   { background: #000; }
.wpcf7-submit                                           { width: auto;height: 72px;display: inline-block;position: relative;z-index: 1;font: normal 20px Epi-eb;text-decoration: none !important;padding: 26px 91px;text-transform: uppercase;color: #fff;transition: all 200ms ease-in-out !important; border-radius: 36px;background: none;border:none!important;cursor: pointer;}
.btn-submit                                             { text-align: center;border-radius: 36px }
.btn-submit .span-submit                                { display: inline-block;position: relative; }
.btn-submit .span-submit:before                         {content: ''; position: absolute; background: #000; border-radius: 36px; left: 0; right: 0; top: 0; bottom: 0;}

/*FOOTER*/
.footer .col                                            { float: left; width: 25% }
.footer .titre                                          { font-size: 20px; font-family:Epi-eb  }
.logo-ftr                                               { width: 122px; max-width: 122px; display: block; }
.logo-ftr img                                           { display: block; width: 100% }

.col-right                                              { float: right; width: 25% }
.col-right li                                           { display: block; text-align: right;}
.cont-footer                                            { border-top:#E4E4E4 solid 1px; margin-top: 60px; margin-bottom: 60px; padding: 82px 40px 0;}
.fp-scroller.scroll{ transform: translate(0px, -400px) translateZ(0px)!important; }





/* Hover */
@media (min-width:1201px) {
.wrapMenuMobile, .menu .vueMobile	    				{ display:none;}
body a span, body a, span:before, span:after, a:after, a:before, .link,.blc-img .img:after, .txt-hover,.sec-filter .list-filter li,.sec-ref .list-ref a,.button-video span:before,.button-video.hide,.postSocial p,
.postSocial img{ -webkit-transition:all 400ms ease-in-out; -moz-transition:all 400ms ease-in-out; -ms-transition:all 400ms ease-in-out; transition:all 400ms ease-in-out;}
a:hover                                                 { color:#000;}
.sec-filter .list-filter li:hover                       { color: #000;opacity: 1;}
.sec-ref .list-ref a:hover                              { opacity: 1;}
.link:hover:before                                      { background:#7b7b7b; left: 35px; right: 35px;}
.button-video .play:hover:before                        { opacity: 1;}
.button-video.hide:hover                                { opacity: 1;}
.element-item:hover .color                              { transform: scaleX(1);}
.listeClaiming.is-checked, .adr a:hover:after           { width: 0;}
.adr a:hover, .workFilter li a:hover                    { color: #fff;}
.closeDetail:hover, .rs li a:hover                      { opacity: .7;}
.menu a:hover                                           { filter: blur(2px);}
.social li a:hover, .footer li a:hover, 
.listeClaiming li a:hover                               { opacity: .5;}
.btn-submit:hover .span-submit:before{    background: #7b7b7b;left: 35px;right: 35px;}
/*.sousProfil .post:hover a{ opacity: 0.2 }*/
.sousProfil .post a:hover:after                         { width: 0; }  
.postSocial:hover p,
.postSocial:hover img, .element-item:hover .txt-hover   { opacity: 1 }

.section .h1                                            { transition: all ease 1s ;color: #ffffff }
/*.section.active .h1                                     { background-position-y:50px!important  }*/
}


/*modif*/
div#bg_slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
}
.btnArrow{
    background: transparent;
    border: 0 none;
    z-index: 99999;
    cursor: pointer;
   position: absolute;
}
.btnArrow span{
     top: calc(50% - 25px);
    font-size: 50px;
}
.btnArrow.prevArrow {
    left: 0;    
}
.btnArrow.nextArrow {
    right: 0;
       
}

.btnArrow,
.btnArrow .dashicons{
    width: 50px;
    height: 50px;  
}

.social.d-flex ul{
    display: flex;
    align-items: center;
    justify-content: right;
}
.social.d-flex ul li.linkedin{
    margin-left: 15px;
}

#bg_slide .slick-list,
#bg_slide .slick-track{  height: 100%;}




/* RESPONSIVE */
@media (max-width:1680px) {
    .workFilter .list-filter li                            { width: 33.333%;}
    .blocMap                                               { padding: 0 40px;}
}

@media (max-width:1440px) {
.last-about.section                                         { margin-top: 100px }

}


@media (max-width:1367px) {
    .wrapper                                               { padding: 0 40px;}
    .section                                               { padding: 20px 0;}
    .section0 .content-top                                 { padding-top: 95px }
    .headerTop                                             { padding: 55px 60px 10px 60px; }
    .slider                                                { padding: 0 60px 0 60px;}
    .section                                               { padding: 25px 40px;}
    .page-template-about #first                             { padding-top: 0 }
    .cont-footer                                           { padding: 80px 60px 0;}
    .blocSlider                                            { height: calc(100vh - 123px); }
    .sec-filter .blcLink                                    { margin-top: 0 }
    #vue                                                    { margin-bottom: 40px }

    .blocMap                                                { margin-top: -155px;}
    .map iframe                                             { height: 500px;}
    .h1                                                     { padding: 0;}

    .workFilter                                             { padding: 75px 40px 0; /*margin: 0 40px;*/}
    .blocFind.workFilter                                               { padding-bottom: 200px;  }
    .blocFind                                               { margin:60px 0 0!important;}
    .workLeft h1                                            { font-size: 120px !important; line-height: 125px !important;}
    .workFilter .list-filter                                {padding-left: 0;}
    .workLeft                                               { padding: 0;}
    .imgCrypt                                               { padding: 0;}
    .sec1-home.section                                      { padding-bottom: 60px }
    /* .sec-produit-home.section                               { padding:0 0 40px 0} */

    .section, .section .fp-tableCell, .fp-scrollable        { height: auto!important; }
    .section0                                               { position: relative;z-index: 100; /*height: 100vh !important*/}

    .section1, .qui-sommes-nous                             { /*padding: 5rem 0;*/}
    .blc-img1 .wrapper, .qui-sommes-nous .wrapper, 
    .footer .wrapper                                        { padding: 0 !important;}

    .qui-sommes-nous                                        { padding: 2.5rem 0;}
    .qui-sommes-nous h2 br                                  { display: none;}
    .filterValue                                            { padding: 125px 0; margin-top:0;}

    .sec-ref .content                                       { padding: 100px 40px;}
    .sec-ref .list-ref                                      { padding-left: 40px;}

    .filterValueWork2                                       { padding: 0 40px; margin-left: 40px; margin-right: 40px;}
    .filter-work>div:after                                  { width: calc(100% - 80px);height: 150px;bottom: -149px }
    .last-about.section                                     { margin: 20px 0 20px }
    .crypt                                                  { margin-top: 150px }
    .sec-item-work.section                                  { padding-bottom: 0 }
    .section3.crypt .wrapper                                        { padding-left: 0;padding-right: 0 }
    .section.section4.sec-filter                            { padding-left: 0;padding-right: 0 } 
    .sec-filter .listItem a img                             { height: 302px }
   .page-template-about .section0                      { margin-bottom: 70px }
   .before-foot-home.section                               { padding-top: 40px }
   .section.claiming                                        { padding-top: 60px }

}

@media (max-width:1280px) {
.imgCrypt figure img                                       {height: 430px;}

}

@media (max-width:1200px) {
.wrapMenuMobile                                             { width:auto; height:45px; display:block; z-index:9999; transition:all 400ms ease-in-out;  cursor:pointer;  text-transform:uppercase; position:absolute; right:40px; top:49px;}
.menuMobile                                                 { width:45px; display:block; height:45px; cursor:pointer; position:relative; line-height:20px;}
.menuMobile>div                                             { width:30px; height:3px; background:#151515; position:absolute; left:0;right:0;margin:auto; top:50%; margin-top:-1px;}
.menuMobile>div:before                                      { width:100%; height:3px; background:#151515; position:absolute; right:0; top:9px; content:""; transition: 1s ease;transition-delay: .5s;}
.headerTop.active .menuMobile>div:before,
.headerTop.active .menuMobile>div:after                   { background: #ffffff;transition: 1s ease; }
.menuMobile>div:after                                       { width:100%; height:3px; background:#151515; position:absolute; right:0; top:-9px; content:""; transition: 1s ease;transition-delay: .5s;}
.menuMobile.active>div                                      { height:0px;}
.menuMobile.active > div::before                            { top: 0;transform: rotate(45deg);}
.menuMobile.active > div::after                             { top: 0;transform: rotate(-45deg);}
.menu                                                       { max-width:100%;right:0; float: none; }

.menu>ul                                                    { width:100%; height:auto; position:absolute; left:0; top:0; padding:0; background:#fff; display:block; z-index:99;transform: translateY(-200%);transition: 1s ease;transition-delay: .5s;background: #000000;padding-top: 120px;padding-bottom: 20px;}
.menu>ul.active                                             { transform: translateY(0);transition: 1s ease; }
.menu ul li                                                 { width:100%; margin:0 auto; display:block; float:none; padding:0;}
.menu li a                                                  { height:53px; line-height:47px; border:0; padding:0 40px; margin:0; text-align:center;color: #ffffff;}
/*.menu>ul:after                                              { content: ""; width: 100%; height: 9999px; background: rgba(0,0,0,.6); position: absolute; left: 0; bottom: -9999px; z-index: -1;}*/
.menu a:before                                              { display:none;}

.headerTop                                             { padding: 30px 40px 10px 40px;}
/*.headerTop:before                                       { content: '';width: 100%;height: 100%;position: absolute;top: 0;left: 0;background: #ffffff;z-index: 999 }*/
.logo                                                   { position: relative;display: inline-block;z-index: 99999;font-size: 0;line-height: 0;transition: 1s ease; transition-delay: .5s; }
.logo:before                                           { content: '';width: 100%;height: 100%;background: url(../images/logo-on.png)center no-repeat;background-size: cover;position: absolute;top: 0;left: 0;opacity: 0;transition: 1s ease; transition-delay: .5s;  }
.headerTop.active .logo:before                         { opacity: 1;    transition: 1s ease; }
.slider                                                { padding: 0 40px 0 40px}
.blc-about                                             { padding: 0 0;}
.cont-footer                                           { padding: 80px 40px 0;}
.headerTop .social                                     { padding-right: 80px;position: relative;z-index: 999}
.txt-hover                                             { left: 40px }
.slider img                                            { display: block; width: 100%;}
.h1,.workLeft h1                                       { font-size: 70px !important; line-height: 75px !important; margin: 0 !important; text-align: center;}

.blc-about h2,h2                                        { font-size: 50px; line-height: normal;margin-bottom: 30px }
.qui-sommes-nous h2                                     { font-size: 70px; line-height: normal; margin-bottom: 30px }
.sec-filter .list-filter                                { padding-left: 0}
.sec-ref .content                                       { padding: 70px 40px}
.sec-ref .list-ref                                      { padding-left: 0}

    .closeDetail                                        { top: inherit; right: inherit; left: 20px; bottom: 20px; background: rgba(0,0,0,.5); padding: 5px;}
    .Detail .closeDetail + .scrollTop                   { bottom: 25px;}
    .claiming                                           { padding-top: 75px !important; padding-bottom: 0 !important;}
    .claimingText                                       { padding-left: 0;}
    .claiming1                                          { max-width: 100%; padding-right: 40px;}
    .claiming2                                          { width: 50%;}
    .listeClaiming                                      { padding-top: 0; flex-wrap: wrap;}
    .listeClaiming li                                   { width: 50%;}
    .imgClaiming                                        { margin-top: 75px;}
    .imgClaiming .element-item                          { margin-bottom: 35px;}
    .rsBtn                                              { margin-top: 50px;}
    .Detail .cont-footer                                { padding: 50px 40px 20px; margin-top: 30px;}
    .claimingText br                                    { display: none;}
    .rs li:first-child                                  { margin-right: 25px;}

    .sousProfil                                         { align-items: flex-start; flex-direction: column;}
    .sousProfil .post                                   { margin-bottom: 30px;}

    .cont-footer                                        { padding: 80px 0px 0;}

    .color                                              { transform: scaleX(1);}
    .txt-hover                                          { opacity: 1;}
    .sec-ctc-about .wrapper, .sec-filter .wrapper, 
    .sec-ref .wrapper, .crypt .wrapper                  { padding: 0 !important;}

    .section1                                           { padding: 3rem 0 2rem;}
    .qui-sommes-nous                                    { padding: 0;}

    .cont-footer                                        { margin-top: 0; padding: 40px 0px 0;}
    .imgCrypt                                           { margin-bottom: 50px;}

.menu ul>li{ opacity: 1;-webkit-animation: .5s fadeOutMenu forwards;animation: .5s fadeOutMenu forwards;animation-delay: 0s;-webkit-animation-delay: 0s;
animation-delay: 0s; }

 .menu ul>li:nth-child(2) {-webkit-animation-delay: .1s;animation-delay: .1s;}
.menu ul>li:nth-child(3) {-webkit-animation-delay: .2s;animation-delay: .2s;}
.menu ul>li:nth-child(4) {-webkit-animation-delay: .3s;animation-delay: .3s;}
.menu ul>li:nth-child(5) {-webkit-animation-delay: .4s;animation-delay: .4s;}
.menu ul>li:nth-child(6) {-webkit-animation-delay: .5s;animation-delay: .5s;}
.menu ul>li:nth-child(7) {-webkit-animation-delay: .6s;animation-delay: .6s;}

.menu>ul.active li{ -webkit-animation: .5s fadeInMenu;
animation: .5s fadeInMenu; animation-delay: 0s;animation-fill-mode: none;-webkit-animation-fill-mode: forwards;animation-fill-mode: forwards;
opacity: 0;-webkit-animation-delay: .65s;animation-delay: .65s; }

.menu>ul.active li:nth-child(2) { -webkit-animation-delay: .75s;animation-delay: .75s;}
.menu>ul.active li:nth-child(3) { -webkit-animation-delay: .85s;animation-delay: .85s;}
.menu>ul.active li:nth-child(4) { -webkit-animation-delay: .95s;animation-delay: .95s;}
.menu>ul.active li:nth-child(5) { -webkit-animation-delay: 1.05s;animation-delay: 1.05s;}
.menu>ul.active li:nth-child(6) { -webkit-animation-delay: 1.15s;animation-delay: 1.15s;}
.menu>ul.active li:nth-child(7) { -webkit-animation-delay: 1.25s;animation-delay: 1.25s;}
.section.section4.sec-filter                            { padding-left: 40px;padding-right: 40px } 
.before-foot-home.section                               { padding-top: 60px }
.Detail .menu li a{ color: #ffffff!important }


@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
    pointer-events: all; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
    pointer-events: all; } }

    @-webkit-keyframes fadeInMenu {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@keyframes fadeInMenu {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@-webkit-keyframes fadeInMenuInactive {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: .3;
    transform: translateY(0px); } }

@keyframes fadeInMenuInactive {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: .3;
    transform: translateY(0px); } }

@-webkit-keyframes fadeOutMenu {
  0% {
    opacity: 1;
    transform: translateY(0px); }
  100% {
    opacity: 0;
    transform: translateY(30px); } }

@keyframes fadeOutMenu {
  0% {
    opacity: 1;
    transform: translateY(0px); }
  100% {
    opacity: 0;
    transform: translateY(30px); } 
}

.filter-work>div:after { height: 115px ;bottom: -115px}

.imgCrypt figure img { height: 350px }
    



}
@media (max-width:980px) {
    .blocSlider                                         { padding: 75px 0 50px;}
    .h1                                                 { text-align: center;}
    .h1 br                                              { display: none }
    .blocSlider .scrollTop                              { bottom: 0;}
    .workLeft                                           { padding: 75px 40px;}
    .section0                                           { height: auto !important;}
    .blocProfil                                         { flex-direction: column;}
    .profil                                             { width: 100%;}
    .profil1                                            { margin-bottom: 50px;}
    .blocProfil h2 br                                   { display: none;}
    .sec-filter .listItem a                             { width: 50%;}
    .sec-ctc-about                                      { padding: 0 40px 25px 40px;}
    .sec-ctc-about .left                                { text-align: center;}
    .imgCrypt figure img                                { height: 300px }
    .page-template-work-page .section0{ margin-bottom: 40px }
}

@media (max-width:800px) {

      .imgCrypt figure img                                { height: 250px }


}

@media (max-width:768px) {
    .wrapper                                            { padding: 0;}
    .cont-footer                                        {  padding: 40px 40px 0;}

    .qui-sommes-nous                                    { padding: 2.5rem 0 0;}
    .qui-sommes-nous .col                               { width: 100%; float: none; padding: 0;}
    .qui-sommes-nous .col:last-of-type                  { margin-top: 45px;}
    .qui-sommes-nous .col .txt                          { max-width: 100%;}
    .footer .col                                        { float: none; width: 100%; text-align: center; margin-bottom: 15px;}
    .logo-ftr                                           { margin: 0 auto 20px;}
    .col-right                                          { float: none; width: 100%;}
    .col-right li                                       { text-align: center;}

    .blocSlider                                         { padding-top: 0; padding-bottom: 50px; margin-top: 0; position: relative; }
    .section                                            { padding: 25px 40px }
    .blc-about .wrapper                                 { padding: 0 !important;}
    .workFilter                                         { padding: 50px 40px 35px;}
    .workFilter .list-filter                            { padding-left: 0;}
    .workFilter .list-filter li                         { width: 50%; margin-bottom: 25px;}
    .filterValue                                        { margin-top: 0; padding: 0 0 15px;}
    .imgCrypt                                           { margin-bottom: 50px;}

    .blocSlider .scrollTop                              { bottom: 0 }
    .cont-footer                                        { margin-top: 0 }
    .sec-ctc-about .left,
    .sec-ctc-about .right                               { width: 100% }
    .sec-ctc-about .left .text                          { max-width: 100% }
    .sec-ctc-about .left                                { margin-bottom: 50px }
    .sec-filter .list-filter li                         { width: 50% }
    .sec-ref .list-ref                                  {column-count: 3 }
    .h1                                                 { padding: 0;}
    .slider                                             { padding: 0 }

    .workLeft h1                                        { font-size: 70px !important; line-height: 75px !important;}

    .Detail .fp-scroller                                { min-height: 500px !important;}
    .Detail .blocSlider                                 { min-height: 500px;}
    .claimingText                                       { flex-direction: column;}
    .claimingText>div                                   { width: 100%; padding-right:0;}
    .rsBtn                                              { margin-top: 50px; flex-direction: column;}
    .rs                                                 { margin: 30px 0 0 !important; flex-wrap: wrap;}

    .adr                                                { padding-left: 0;}
    .blocFind                                           { padding: 50px 40px 40px !important;}
    .blocFind                                           { padding: 75px 40px 50px !important;}
    .blocMap                                            { padding: 0;}
    .blocMap                                            { margin-top: 35px;}
    .map iframe                                         { height: 500px;}

    .filterValueWork2, .filterValueWork1                { margin: 0 !important;}
    .filterValue .listItem                              { margin-top: 25px;}
    .filter-work>div:after                              { display: none }
    .sec-filter .blcLink                                { margin-top: 50px }
    .blc-img .img img,
    .qui-sommes-nous .img img                                    { height: auto!important;width: 100%!important }

    .blc-img .img img                                   { min-height: auto }
    .claiming2                                              { max-width: 100% }
    .sec-ctc-about .right .img img                      { height: auto; }
    .crypt                                              { margin-top: 0 }
    .page-template-work-page #vue                       { margin: 0 }
    .blocFind                                           { margin-top: 40px!important }
    .imgCrypt figure img                                { height: 200px }
    .page-template-about .section0                      { margin-bottom: 40px }
    .before-foot-home.section                           { padding-top: 20px }
    .social.d-flex ul                                   { justify-content: center; }
                          

}
@media (max-width:600px) {
    .headerTop                                          { padding: 30px 20px 10px 20px}
    .slider                                             { padding: 0;}
    .cont-footer                                        { padding: 40px 20px 0; margin-top: 0}
    .blc-about h2                                       { font-size: 40px;}
    .link span                                          { padding: 26px 25px }
    .txt-hover                                          { left: 20px;top: 20px;}
    .qui-sommes-nous h2                                 { font-size: 30px;margin-top: 10px}
    .h1                                                 { font-size: 40px!important;line-height: 45px!important;text-align: center; transition: all 0s}
    .logo                                               { display: block;width: 150px;float: left; }
    .logo img                                           { width: 100%!important;display: block;height: auto!important; }
    .headerTop .right                                   { padding-top: 15px }
    .wrapMenuMobile                                     { top: 36px;right: 20px }
    .headerTop .social                                  { padding-right: 60px }
    .headerTop .social li                               { padding-left: 15px }
    .sec1-home.section                                  { padding-bottom: 10px }
    .section                                            { padding: 10px 20px;}
    .section0 .content-top                              { padding-top: 95px }
    .button-video img                                   { width: 50px }
    .sec-filter .listItem a                             { width: 50% }
    .sec-ref .content                                   { padding: 50px 20px }
    .sec-ref .list-ref                                  { column-count: 2; }
    .blc-about h2, h2                                   { font-size: 40px }
    .sec-ctc-about .left .link                          { margin-top: 0 }
    .sec-filter .list-filter li                         { margin-bottom: 25px }
    .sec-filter .list-filter li:last-child              { margin-bottom: 0 }
    .sec-filter .blcLink                                { margin-top: 25px }
    .sec-ref .list-ref li                               { margin-bottom: 15px }
    .button-video span                                  { border:none; }
    .section.sec-filter                                 { padding-bottom: 40px }

    .blc-about                                          { padding: 20px 0; text-align: center;}
    .blc-about h2, h2                                   { font-size: 30px;}
    .crypt h2                                           { font: 30px/35px 'Epi-eb';}
    .workFilter .list-filter li                         { font-size: 16px; line-height: 20px;}

    .rs li                                              { margin-right: 0;}
    .rs li:first-child                                  { margin-right: 0; width: 100%; text-align: center; margin-bottom: 10px;}
    .blocProfil h2                                      { font: 40px/45px 'Epi-eb';}
    .map iframe                                         { height: 350px;}

    .workLeft h1                                        { font-size: 40px !important; line-height: 45px !important;}
    .blocFind                                           { padding: 40px 20px 20px !important;}
    .popup-contact                                      { padding: 65px 20px 40px;}
    .element-item .txt-hover                            { left: 20px; padding-right: 30px;}
    .qui-sommes-nous                                    { padding: 20px 0 15px;}
    .imgCrypt                                           { margin-top: 20px; margin-bottom: 20px;}
    .crypt                                              { padding-bottom: 20px !important;}
    .imgCrypt a                                         { width: 100%; padding: 8px 0;}
    .imgClaiming .element-item                          { margin-bottom: 20px;}
    .menu>ul                                            { padding-top: 100px }
    .sousProfil                                         { margin-bottom: 34px }
    .section.sec-find-us                                        {padding-top: 30px;padding-bottom: 30px}
    .listeClaiming li                                   { width: 100% }
    .imgClaiming                                        { margin-top: 40px!important }
    .sec-ctc-about                                      { padding-bottom: 25px }
    .last-about.section                                 { margin: 0 0 30px; }
    .imgCrypt figure img                                { height: 250px }
    .section.section4.sec-filter                        { padding-left: 20px;padding-right: 20px }
    .sec-filter .listItem a img                         { height: auto }
    .claiming                                           { padding-top: 10px!important }
    #first.claiming                                     {padding-top: 50px!important}
    .element-item .txt-hover,
    .color                                                { display: none }
    .menuMobile                                         { border: none; }
    .section0                                           { margin-bottom: 40px }

    .sec1-home.section .blc-about                       { padding-top: 0 }
    .btnArrow span { font-size: 40px; }
    .btnArrow, .btnArrow .dashicons {width: 40px;height: 40px;}
}
@media (max-width:480px) {
    .logo                                               { width: 115px; margin-top: 10px;}
    /*.Detail .slider img                                 { height: 500px;}*/
    .sec-filter .list-filter li                         { width: 100%;}

    .workFilter                                         { padding: 50px 20px 35px;}
    .workFilter .list-filter li                         { width: 100%; margin-bottom: 20px;}
    .crypt h2                                           { font: 28px/30px 'Epi-eb';}
    .sec-filter .listItem a                             { width: 100%;}
    .filterValue .listItem a                            { width: 100%; padding: 8px 0;}
    .blocProfil h2                                      { font: 28px/45px 'Epi-eb'; }  
    .imgCrypt figure img                                { height: 200px }   
}

